img {
    margin: 0px 20px 20px 20px;
}

.container {
    background-color: #abb6c2;
    margin-top: 20px;
    color: #000000e6;
}

.centered {
    display: block;
    margin: 20px auto;
}

.foot {
    text-align: center;
    margin: 5px;
    color: #000000e6;
}